body{
	font-family: "Montserrat", sans-serif;
}

h1{
	font-size: 3.3rem;
}

h2{
	font-size: 2.3rem;
}

h3{
	font-size: 1.2rem;
	font-weight: normal;
}

header{
	background: linear-gradient(225deg, #38aecc 10%, #347fb9 90%);
	color: #fff;
	margin-top: -10%;
}

a{
	color: #3880b7;
	font-weight: 500;
}

a:hover, a:active{
	color: #3ea7c7;
}

.intro{
	padding-top: 20%;
	padding-bottom: 20%;
}

.work{
	background: linear-gradient(225deg, #38aecc 10%, #347fb9 90%);
	color: #fff;
	padding-top: 15%;
	padding-bottom: 30%;
}

.grid-cell{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: 7px solid #fff;
	padding: 8% calc(15% - 7px);
}

.grid-cell:nth-child(1){ background-image: url(../img/gotraining.png); }
.grid-cell:nth-child(2){ background-image: url(../img/simon.png); }
.grid-cell:nth-child(3){ background-image: url(../img/loremjs.png); }

footer{
	margin-top: -20%;
	background: #fff;
	text-align: right;
}

footer p{
	margin-top: 10%;
}




@media only screen and (max-width: 768px){
	h1{
		font-size: 2.5rem;
	}

	.grid-cell{
		border: 5px solid #fff;
		padding: 12% calc(22.5% - 5px);
	}
}