@media only print {
  html {
    font-size: 10pt;
  }

  .layers,
  .layer {
    height: auto;
    min-height: none;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  video {
    display: none;
  }

  .container {
    padding: 3%;
  }

  .scroll-indicator {
    display: none;
  }

  ul.tags {
    color: inherit;
  }

  ul.tags li {
    background-color: none;
    box-shadow: none;
    border: none;
  }
}
