/*
 * ------------------------
 * Contents
 * ------------------------
 * 1. Simple Reset
 * 2. Semantic Markup
 * 3. Base Classes
 * 4. Components
 *    4.1. Vertical Carousel
 *    4.2. Skewed Containers
 *    4.3. Grids
 *    4.4. Popout Boxes
 * 5. Section Specific
 * 6. Media Queries
 */

/* 1. Simple Reset */
* {
  margin: 0;
  padding: 0;
}

header, section, footer, aside, nav, main, article, figure {
  display: block;
}

html {
  font-size: 16px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/* 2. Semantic Markup */
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  color: #111;
}

h1 {
  font-size: 3.3rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: normal;
}

header {
  background: linear-gradient(225deg, #38aecc 10%, #347fb9 90%);
  color: #fff;
  margin-top: -10%;
}

a {
  color: #3880b7;
  font-weight: 500;
}

a:hover, a:active {
  color: #3ea7c7;
}

footer {
  margin-top: -20%;
  background: #fff;
  text-align: right;
}

footer p {
  margin-top: 10%;
}

/* 3. Base Classes */
.container {
  padding: 0 10%;
}

.highlight {
  padding: 10% 20%;
  text-align: center;
  line-height: 2;
  margin: 5% auto;
}

.highlight p {
  padding: 10px 0;
}

.under {
  margin-top: 40px;
}

.under i {
  margin: 0 20px;
  font-size: 2rem;
}

/* 4. Components */
/* 4.1. Vertical Carousel */
.vertical-carousel {
  height: 40px;
}

.vertical-carousel ul, .vertical-carousel span {
  display: inline-block;
  vertical-align: top;
  height: inherit;
}

.vertical-carousel ul {
  list-style: none;
  overflow: hidden;
  color: #8befef;
  border-bottom: 2px solid white;
}

.vertical-carousel li {
  position: relative;
  top: 0;
  transition: top 1s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* 4.2. Skewed Containers */
.skew {
  padding-top: 8%;
  padding-bottom: 8%;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: skew(0deg, 5deg);
  -ms-transform: skew(0deg, 5deg);
  transform: skew(0deg, 5deg);
}

.skew > * {
  -webkit-transform: skew(0deg, -5deg);
  -ms-transform: skew(0deg, -5deg);
  transform: skew(0deg, -5deg);
}

.backskew {
  -webkit-transform: skew(0deg, -5deg);
  -ms-transform: skew(0deg, -5deg);
  transform: skew(0deg, -5deg);
}

.backskew > * {
  -webkit-transform: skew(0deg, 5deg);
  -ms-transform: skew(0deg, 5deg);
  transform: skew(0deg, 5deg);
}

/* 4.3. Grids */
.grid {
  font-size: 0;
}

.grid-cell {
  font-size: 1rem;
  padding: 8% 15%;
  margin-top: 8%;
  margin-right: 5%;
  background: white;
  display: inline-block;
}

.grid-cell:nth-child(3n) {
  margin-right: 0;
}

.grid-cell {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 7px solid #fff;
  padding: 8% calc(15% - 7px);
}

.grid-cell:nth-child(1) {
  background-image: url(../img/gotraining.png);
}

.grid-cell:nth-child(2) {
  background-image: url(../img/simon.png);
}

.grid-cell:nth-child(3) {
  background-image: url(../img/loremjs.png);
}

/* 4.4. Popout Boxes */
.popout {
  transition: box-shadow 0.2s, transform 0.2s;
  transition-timing-function: cubic-bezier(0.68, 0.68, 0.265, 1.55);
}

.popout:hover {
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.4);
  transform: scale(1.02);
}

/* 5. Section Specific */
.intro {
  padding-top: 20%;
  padding-bottom: 20%;
}

.work {
  background: linear-gradient(225deg, #38aecc 10%, #347fb9 90%);
  color: #fff;
  padding-top: 15%;
  padding-bottom: 30%;
}

/* 6. Media Queries */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  .grid-cell {
    border: 5px solid #fff;
    padding: 12% calc(22.5% - 5px);
  }

  .highlight {
    padding: 50px 10%;
    text-align: left;
    margin-top: 15%;
  }

  .skew {
    padding-bottom: 20%;
  }

  .grid-cell, .grid-cell:nth-child(3n) {
    margin-right: 10%;
  }

  .grid-cell:nth-child(even) {
    margin-right: 0;
  }
}
