/*
 * ------------------------
 * Contents
 * ------------------------
 * 0. Variables
 * 1. Simple Reset
 * 2. Semantic Markup
 * 3. Base Classes
 * 4. Components
 *    4.1. Skewed Containers
 *    4.2. Grids
 *    4.3. Cards
 * 5. Section Specific
 * 6. Media Queries
 */

/* 0. Variables */
:root {
  --white: #f5f5f5;
  --dark-blue: #236ea8;
  --light-blue: #279dbb;
  --lighter-blue: #8befef;
  --dark-grey: #20292f;
  --darker-grey: #101518;
  --lighter-grey: #dfe6e9;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* 1. Simple Reset */
* {
  margin: 0;
  padding: 0;
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}

html {
  font-size: 16px;
}

/* 2. Semantic Markup */
body {
  font-family: "Montserrat", sans-serif;
  line-height: 2;
  color: var(--darker-grey);
  background: var(--white);
}

h1 {
  font-size: 3.3rem;
  line-height: 1.3;
  margin: 1% 0;
}

h2 {
  font-size: 2.3rem;
  margin-bottom: 1%;
}

h3 {
  font-size: 1.4rem;
  font-weight: normal;
}

a {
  color: var(--dark-blue);
  text-decoration: none;
  border-bottom: 1px dashed currentColor;
}

a:hover,
a:active,
a:focus {
  color: var(--light-blue);
  border-bottom: 1px solid currentColor;
}

ul,
ol {
  list-style-position: inside;
  margin: 2rem 0.2rem;
}

ul {
  list-style-type: square;
}

footer {
  text-align: right;
  padding: 5% 10%;
}

.article-meta {
  font-size: 0.9rem;
  color: var(--dark-grey);
}

.article-meta #time-to-read {
  display: none;
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 1px solid var(--dark-blue);
}

video,
.article-image {
  display: block;
  max-width: 100%;
  margin: 3rem auto;
}

video,
.shadow {
  box-shadow: var(--box-shadow);
}

.data-flow-diagram {
  width: 100%;
  font: inherit;
}

.data-flow-diagram text {
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 0.25px;
  text-anchor: middle;
}

.data-flow-diagram path {
  stroke: var(--darker-grey);
  stroke-miterlimit: 4px;
  stroke-linejoin: miter;
  stroke-dasharray: none;
  stroke-linecap: butt;
  stroke-dashoffset: 0;
}

.data-flow-diagram .arrow-head {
  fill: currentColor;
}

.data-flow-diagram .label-background {
  stroke: none;
  fill: var(--white);
}

.data-flow-diagram .diagram-node {
  stroke-width: 2px;
  fill: var(--lighter-grey);
  stroke: currentColor;
}

.data-flow-diagram .diagram-input rect {
  fill: currentColor;
}

.data-flow-diagram .diagram-input text {
  fill: var(--white);
  stroke: var(--white);
}

.data-flow-diagram .diagram-output rect {
  fill: var(--dark-blue);
}

.data-flow-diagram .diagram-output text {
  fill: var(--white);
  stroke: var(--white);
}

article,
.article-header nav {
  margin: 0 auto;
  max-width: 1000px;
}

.article-header nav {
  padding: 1.5rem 10%;
}

article section,
article p {
  margin-top: 2rem;
}

/* 3. Base Classes */
.container {
  padding: 10%;
}

.gradient {
  position: relative;
  color: #fff;
  overflow: hidden;
}

.gradient::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.gradient-blue::before {
  background-color: var(--dark-blue);
  background-image: linear-gradient(
    195deg,
    var(--light-blue) 10%,
    var(--dark-blue) 90%
  );
}

.gradient-blue::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 65%;
  z-index: -1;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transform: skew(-20deg);
}

.gradient-grey::before {
  background-color: var(--darker-grey);
  background-image: linear-gradient(
    195deg,
    var(--dark-grey) 10%,
    var(--darker-grey) 90%
  );
}

.info {
  border-radius: 0.3em;
  border: 1px dashed var(--dark-blue);
  padding: 10px;
  background-color: rgba(35, 110, 168, 0.15);
}

.info a {
  color: inherit;
}

.article-header {
  height: 8px;
}

.highlight p {
  padding: 2% 0;
}

.codeblock pre[class*="language-"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
}

.codeblock-title {
  padding: 0.5em 1em;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  background-color: #32332c;
  color: #fff;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  border-bottom: 1px solid #494b40;
}

/* 4. Components */
/* 4.1. Skewed Containers */
.skew {
  position: relative;
}

.skew::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: skew(0deg, 5deg);
  transform-origin: top right;
}

/* 4.2. Grids */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5%;
  grid-row-gap: 3rem;
  font-size: 1rem;
}

.grid-cell {
  width: auto;
  margin: 0;
}

/* 4.3. Cards */
.card-header {
  background-size: cover;
  background-position: center;
  display: block;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.card-body h3 {
  margin: 20px 0;
}

.card-body a {
  color: currentColor;
}

/* 5. Section Specific */
.intro {
  padding: 10% 10% 15% 10%;
}

.subtitle {
  font-size: 1.4rem;
  margin-top: -1vw;
}

.laptop-graphic {
  position: absolute;
  top: 22%;
  right: 10%;
  opacity: 0.8;
}

/* 6. Media Queries */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .grid-cell {
    margin: 0;
  }

  .skew {
    padding-bottom: 20%;
  }
}

@media only screen and (max-width: 1100px) {
  .laptop-graphic {
    display: none;
  }
}

@media only screen and (max-width: 580px) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  footer,
  .container {
    padding: 10% 5%;
  }

  .intro {
    padding: 10% 5% 15% 5%;
  }
}

@media only screen and (min-width: 769px) {
  .highlight {
    padding: 8% 20% 10% 20%;
    text-align: center;
  }
}

@media only print {
  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  video {
    display: none;
  }

  .container {
    padding: 3%;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-grey);
    color: var(--white);
  }

  a {
    color: var(--light-blue);
  }

  a:hover,
  a:active,
  a:focus {
    color: var(--lighter-blue);
  }

  img {
    opacity: 0.8;
  }

  img:hover {
    opacity: 1;
  }

  .gradient-blue::before {
    background-image: linear-gradient(
      195deg,
      var(--dark-grey) 10%,
      var(--dark-blue) 90%
    );
  }

  .gradient-blue::after {
    background-color: transparent;
  }

  .article-meta {
    color: var(--white);
  }

  .data-flow-diagram path {
    stroke: var(--white);
  }

  .data-flow-diagram .label-background {
    fill: var(--dark-grey);
  }

  .data-flow-diagram .diagram-node {
    fill: var(--darker-grey);
  }

  .data-flow-diagram .diagram-input text {
    fill: var(--darker-grey);
    stroke: var(--darker-grey);
  }
}
