/*
 * ------------------------
 * Contents
 * ------------------------
 * 1. Simple Reset
 * 2. Semantic Markup
 * 3. Base Classes
 * 4. Components
 *    4.1. Vertical Carousel
 *    4.2. Skewed Containers
 *    4.3. Grids
 *    4.4. Popout Boxes
 * 5. Section Specific
 * 6. Media Queries
 */

/* 1. Simple Reset */
* {
  margin: 0;
  padding: 0;
}

header, section, footer, aside, nav, main, article, figure {
  display: block;
}

html {
  font-size: 16px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/* 2. Semantic Markup */
body {
  font-family: "Montserrat", sans-serif;
  line-height: 2;
  color: #111;
  background: #fff;
}

h1 {
  font-size: 3.3rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: normal;
}

a {
  color: #3880b7;
  font-weight: 500;
  border-bottom: 1px solid currentColor;
}

a:hover, a:active {
  color: #3ea7c7;
}

footer {
  text-align: right;
}

/* 3. Base Classes */
.container {
  padding: 10%;
}

.gradient {
  background: linear-gradient(225deg, #38aecc 10%, #347fb9 90%);
  color: #fff;
}

.highlight {
  padding: 10% 20%;
  text-align: center;
}

.highlight p {
  padding: 2% 0;
}

.icons {
  margin-top: 40px;
}

.icons a {
  margin: 0 20px;
  font-size: 2rem;
  border: none;
}

/* 4. Components */
/* 4.1. Vertical Carousel */
.vertical-carousel {
  height: 40px;
}

.vertical-carousel ul, .vertical-carousel span {
  display: inline-block;
  vertical-align: top;
  height: inherit;
}

.vertical-carousel ul {
  list-style: none;
  overflow: hidden;
  color: #8befef;
  border-bottom: 2px solid #fff;
}

.vertical-carousel li {
  position: relative;
  top: 0;
  transition: top 1s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* 4.2. Skewed Containers */
.skew {
  -webkit-transform: skew(0deg, 5deg) translate(0, -15%);
  -ms-transform: skew(0deg, 5deg) translate(0, -15%);
  transform: skew(0deg, 5deg) translate(0, -15%);
}

.skew > * {
  -webkit-transform: skew(0deg, -5deg);
  -ms-transform: skew(0deg, -5deg);
  transform: skew(0deg, -5deg);
}

/* 4.3. Grids */
.grid {
  margin: 7.5% 0;
  font-size: 0;
}

.grid-cell {
  display: inline-block;
  width: 30%;
  height: 200px;
  margin: 0 1.66%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5%;
    grid-row-gap: 25px;
    font-size: 1rem;
  }

  .grid-cell {
    width: auto;
    height: 0;
    margin: 0;
    padding: 30%;
    border: 7px solid #fff;
  }
}



.grid-cell:nth-child(1) {
  background-image: url(../img/gotraining.png);
}

.grid-cell:nth-child(2) {
  background-image: url(../img/simon.png);
}

.grid-cell:nth-child(3) {
  background-image: url(../img/loremjs.png);
}

/* 4.4. Popout Boxes */
.popout {
  transition: box-shadow 0.2s, transform 0.2s;
  transition-timing-function: cubic-bezier(0.68, 0.68, 0.265, 1.55);
}

.popout:hover {
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.4);
  transform: scale(1.02);
}

/* 5. Section Specific */
.intro {
  padding-top: 20%;
  padding-bottom: 20%;
}

/* 6. Media Queries */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .grid-cell {
    border: 5px solid #fff;
  }

  .highlight {
    padding: 5% 10%;
    text-align: left;
    margin-top: 10%;
  }

  .skew {
    padding-bottom: 20%;
  }
}
